<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center min-h-screen bg-gray-100">

<form method="POST" class="bg-white p-6 rounded-xl shadow w-96">
{% csrf_token %}

<h2 class="text-xl font-bold mb-4 text-center">
{{ conference.title }}
</h2>

{% if success %}
<div class="bg-green-100 text-green-700 p-2 mb-3 text-center">
{{ success }}
</div>
{% endif %}

{% if error %}
<div class="bg-red-100 text-red-700 p-2 mb-3 text-center">
{{ error }}
</div>
{% endif %}

<input name="name" placeholder="Name" class="w-full border p-2 mb-2">
<input name="email" placeholder="Email" class="w-full border p-2 mb-2">
<input name="phone" placeholder="Phone" class="w-full border p-2 mb-2">

<textarea name="expectation" placeholder="Expectation"
class="w-full border p-2 mb-2"></textarea>

<button class="bg-indigo-600 text-white w-full py-2">
Register
</button>

</form>

</body>
</html>
